[Desktop Entry]
Name=IdleScreen
Comment=IdleScreen screensaver applet for COSMIC
Type=Application
Icon=io.github.idlescreen.CosmicApplet-symbolic
Exec=idlescreen-applet
Terminal=false
StartupNotify=true
Categories=COSMIC;System;Settings;
Keywords=COSMIC;IdleScreen;screensaver;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
MimeType=
